@import './variables';
@import './mixins';

@mixin featImg($width, $height, $left, $top, $img) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    top: $top;

    background: url($img.png);
}

@mixin rectDiv($width, $height, $left, $top) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    top: $top;
}

@mixin featRect($left, $top, $background) {
    position: absolute;
    width: 442px;
    height: 358px;
    left: $left;
    top: $top;

    background: $background;
    opacity: 0.1;
    border-radius: 50px;
}

@mixin learnMore($left, $top) {
    position: absolute;
    width: 87px;
    height: 26px;
    left: $left;
    top: $top;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: $aboutHeadColor;
}

@mixin arrow() {

}

@mixin shapes($width, $height, $left, $top, $deg) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    top: $top;

    border: 1.5px solid #FFFFFF;
    transform: rotate($deg);
    background-blend-mode: normal;
}

@mixin title($left, $top) {
    position: absolute;
    width: 200px;
    height: 50px;
    left: $left;
    top: $top;

    font-family: $headerFont;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: $aboutHeadColor;
}

@mixin featP($left, $top) {
    position: absolute;
    width: 220px;
    height: 160px;
    left: 500.29px;
    top: 1992px;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;

    color: $navHeadColor;
}

