@import './variables';
@import './mixins';

.headline {

    &__title {
        @include container(645px, 184px, 240px, 237px);

        font-family: $headerFont;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 110%;

        @include center;
        // @extend center; ??

        color: $aboutHeadColor;
    };

    &__info {
        &__logo {
          @include container(380px, 120px, 240px, 471px);
            font-family: $primaryFont;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: $navHeadColor;
    };

    &__button {
        @include learnBtn(240px, 641px, $iconPurple);
        @include learnBtnText(277px, 657px, 800);
    };

    &__img {
        @include container(885px, 468px, 603px, 333px);
        background: url(image1.png);
    };
}}