@import './variables';
@import './mixins';

.info {
    @include container(1117px, 560px, 240px, 903.18px);
    background: rgba(240, 99, 184, 0.15);
    border-radius: $rectBorderRadius;

    &__img {
        @include container(477px, 504px, 251px, 935px);
        background: url(image2.png);
    };

    &__text {
        @include container(475px, 310px, 790px, 1028.18px);

        &--subhead {
            @include subHeadline(475px, 100px, 790px, 1028.18px);
        };

        &--paragraph {
            @include pText(474px, 170px, 790px, 1168.18px);
        };
    };
}