@import './variables';

/* BUTTON MIXINS */
@mixin demoBtn ($left, $top) {
    position: absolute;
    width: 210px;
    height: 60px;
    left: $left;
    top: $top;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: $btnBorderRadius;
}

@mixin learnBtn ($background, $left, $top) {
    position: absolute;
    width: 170px;
    height: 60px;
    left: $left;
    top: $top;
    background: $background;
    border-radius: $btnBorderRadius;
}

@mixin learnBtnText ($left, $top, $font-weight) {
    position: absolute;
    width: 96px;
    height: 29px;
    left: $left;
    top: $top;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: $font-weight;
    font-size: 18px;
    line-height: 160%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/* TEXT MIXINS */
@mixin navLinks ($width, $height, $left, $font-weight, $color) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    top: 62px;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: $font-weight;
    font-size: 16px;
    line-height: 160%;
    color: $color;
}

/* LOGO MIXINS */
@mixin logoPurpleRectangle ($top) {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: $top;
    background: $iconPurple;
    border-radius: 20px;
};

@mixin logoPinkRectangle ($top){
    position: absolute;
    width: 20px;
    height: 35px;
    left: 269px;
    top: $top;
    background: $iconPink;
    border-radius: 20px;
};

/* TESTIMONIAL MIXINS */
 @mixin testEllipsis ($left) {
    position: absolute;
    width: 5px;
    height: 5px;
    left: $left;
    top: 3431px;
    background: #FFFFFF;
 };

 @mixin pinkTestEllipsis {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 335px;
    top: 3428px;
    background: $iconPink;
 };