@import './variables';

/* CONTAINER */

@mixin center {
    display: flex;
    align-items: center;
}

@mixin container($width, $height, $left, $top) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    top: $top;
}


/* VECTOR MIXINs TO CREATE ARROWS */

@mixin vector74($width, $left, $top, $color) {
    position: absolute;
    width: $width;
    height: 0px;
    left: $left;
    top: $top;
    
    border: 2px solid $color;
    box-sizing: border-box;
}

@mixin polygon1($left, $top, $color, $deg) {
    position: absolute;
    width: 14px;
    height: 6px;
    left: $left;
    top: $top;

    border: 2px solid $color;
    box-sizing: border-box;
    transform: rotate($deg);
}

/* BUTTON MIXINS */

@mixin demoBtnText($left, $top, $font-weight) {
    position: absolute;
    width: 112px;
    height: 26px;
    left: $left;
    top: $top;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: $font-weight;
    font-size: 16px;
    line-height: 160%;

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: $aboutHeadColor;
}

@mixin demoBtn($left, $top) {
    position: absolute;
    width: 210px;
    height: 60px;
    left: $left;
    top: $top;
    background: $white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: $btnBorderRadius;
}

@mixin learnBtn($background, $left, $top) {
    position: absolute;
    width: 170px;
    height: 60px;
    left: $left;
    top: $top;
    background: $background;
    border-radius: $btnBorderRadius;
}

@mixin learnBtnText($left, $top, $font-weight) {
    position: absolute;
    width: 96px;
    height: 29px;
    left: $left;
    top: $top;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: $font-weight;
    font-size: 18px;
    line-height: 160%;

    display: flex;
    align-items: center;
    text-align: center;

    color: $white;
}

/* TEXT MIXINS */

@mixin navLinks($width, $height, $left, $font-weight, $color) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    top: 62px;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: $font-weight;
    font-size: 16px;
    line-height: 160%;
    color: $color;
}

/* used for info, features, testimonial, and footer section */
@mixin subHeadline($width, $height, $left, $top) {
    position: absolute;
    width: $width;
    height: $height;
    left: $left;
    top: $top;

    font-family: $headerFont;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: $aboutHeadColor;
}

/* used for headline and info section */
@mixin pText($width, $height, $left, $top) {
    position: absolute;
    width: 474px;
    height: 170px;
    left: 790px;
    top: 1168.18px;

    font-family: $primaryText;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
  
    color: $navHeadColor;
}

/* features section */
@mixin featuresP($left, $top) {
    position: absolute;
    width: 220px;
    height: 160px;
    left: $left;
    top: $top;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;

    color: $navHeadColor;
}

@mixin featuresLearn($left, $top) {
    position: absolute;
    width: 87px;
    height: 26px;
    left: $left;
    top: $top;

    font-family: $primaryFont;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: $aboutHeadColor;
}



/* LOGO MIXINS */
@mixin logoDiv($top) {
    position: absolute;
    width: 49px;
    height: 35px;
    left: 240px;
    top: $top;

    // @include logoPurpleRectangle($top);
    // @include logoPinkRectangle($top);
};

@mixin logoPurpleRectangle($top) {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: $top;
    background: $iconPurple;
    border-radius: $logoBorderRadius;
};

@mixin logoPinkRectangle($top){
    position: absolute;
    width: 20px;
    height: 35px;
    left: 269px;
    top: $top;
    background: $iconPink;
    border-radius: $logoBorderRadius;
};

/* TESTIMONIAL MIXINS */
 @mixin testEllipsis($left) {
    position: absolute;
    width: 5px;
    height: 5px;
    left: $left;
    top: 3431px;
    background: $white;
 };

 @mixin pinkTestEllipsis {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 335px;
    top: 3428px;
    background: $iconPink;
 };