@import './variables';

header {
    position: absolute;
    width: 1120px;
    height: 60px;
    left: 240px;
    top: 47px;
    .nav {
        &__list {
          /* space evenly?? */
        }

        &__item {

            &--about {
                @include navLinks(53px, 30px, 410px, 800, $aboutNavFontColor)
            }
        }
    }

    .demoBtn {
        @include demoBtn(47px)
    }
}
