/* GLOBAL VARIABLES */

/* DOCUMENT BACKGROUND COLOR */
$body-bg: #E5E5E5;

/* PURPLE FOR BUTTONS AND RECTANGLE ON HEADER */
$iconPurple: #9C69E2;

/* PINK FOR BUTTONS AND RECTANGLE ON HEADER */
$iconPink: #F063B8;

/* PRIMARY PAGE FONT */
$primaryFont: Avenir; 

/* FONT COLOR FOR NAV LINKS*/
$navFontColor: #485D68;

$aboutNavFontColor: #212353; 

/* HEADER FONT */
$headerFont: Helvetica;
