/* ------- GLOBAL VARIABLES --------- */

/* DOCUMENT BACKGROUND COLOR */
$body-bg: #E5E5E5;

/* PURPLE FOR BUTTONS AND RECTANGLE ON HEADER */
$iconPurple: #9C69E2;

/* PINK FOR BUTTONS AND RECTANGLE ON HEADER */
$iconPink: #F063B8;

/* FONT COLOR FOR NAV LINKS AND HEADLINE INFO*/
$navHeadColor: #485D68;

/* DARKER BLUE */
$aboutHeadColor: #212353; 

/* TEAL FOR FEATURE RECTANGLE */
$featureTeal: #68C9BA;

/* BLUE FOR FEATURE RECTANGLE */
$featureBlue: #2D9CDB;

$white: #FFFFFF;



/* PRIMARY PAGE FONT */

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }

$primaryFont: 'Avenir', Helvetica, sans-serif; 

/* HEADER FONT */
$headerFont: Helvetica, Sans-Serif;

/*BORDER RADIUS FOR BUTTONS */
$btnBorderRadius: 50px;

/*BORDER RADIUS FOR LOGOS */
$logoBorderRadius: 20px;

/* CONTAINER BORDER RADIUS */
$rectBorderRadius: 50px;



