@import "./variables";
@import './mixins';

body {
    background: $body-bg;
}

.rectangle41 {
    position: absolute;
    width: 1600px;
    height: 2px;
    left: 0px;
    top: 3648px;
    background: #9C69E2;
    opacity: 0.2;
}



footer {
    position: absolute;
    width: 1085px;
    height: 260px;
    left: 240px;
    top: 4001px;
}